:root {
    --square-dimension: 200px;
    --gameboard-dimension: calc(var(--square-dimension) * 3.03);
    --sq-font-size: 120px;

    --clear-btn-height: 100px;
    --clear-btn-width: 400px;
    --clear-btn-font-size: 32px;
    --clear-btn-color: #e0c6ff; 
    --btn-border-radius: 10px;
    --hover-shadow: brightness(105%);
    --alert-font-size: 24px;
    --border-radius: 20px;
    --font: 'Poppins', sans-serif;
    --gameboard-font: 'Montserrat', sans-serif;

}

body {
    font-family: var(--font);
    background-color: rgb(246, 247, 247);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Form Container */

.form-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.heading {
    font-size: 52px;
    margin-top: 50px;
}

.form-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.player-option {
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: 40px;
}

.multiplayer, .ai {
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 3px black;
}

.multiplayer:hover, .ai:hover {
    cursor: pointer;
}

.selected-option {
    color: white;
    background-color: black;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #e0c6ff;
    height: 400px;
    width: 800px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px #e0c6ff;
}

.form-info, .ai-form-info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
}

.form-info input, .ai-form-info input {
    font-size: 30px;
    border-radius: 5px;
    border-style: none;
}

.input-container {
    display: flex;
    gap: 40px;
}

.player-1, .player-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-info button {
    font-size: 32px;
    border-radius: var(--border-radius);
    height: 70px;
    width: 400px;
    background-color:rgb(100, 26, 120);
    color: white;
    border: none;
}

.form-info button:hover {
    cursor: pointer;
    background-color: brightness(90%);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 26, 120, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(100, 26, 120, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(100, 26, 120, 0);
	}
}



/* Main Container */

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Notification Div */

#notification-div {
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oops-notif {
    color: red;
    font-size: var(--alert-font-size);
}

.winner-notif-style {
    color: #A760FF;
    font-size: calc(var(--alert-font-size) * 1.4);
}

.nobody-wins {
    color: rgb(104, 107, 255);
    font-size: calc(var(--alert-font-size) * 1.4);
}

/* Gameboard and Player Container */

.gameboard-and-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


/* Player Turn Indicators */

#player-turn {
    width: var(--gameboard-dimension);
    display: flex;
    justify-content: space-around;
}

.player1, .player2 {
    color: black;
    background-color: white;
    border: solid 2px black;
    font-weight: bold;
    font-size: var(--alert-font-size);
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--btn-border-radius);
}

.current-turn {
    background-color: black;
    color: white;
}


/* Game Board */

#gameboard {
    display: flex;
    align-items: flex;
    flex-wrap: wrap;
    width: var(--gameboard-dimension);
    height: var(--gameboard-dimension);
    font-family: var(--gameboard-font);
}

.board-squares {
    height: var(--square-dimension);
    width: var(--square-dimension);
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 1px white;
    font-size: var(--sq-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-squares:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}

.s0 {
    border-top-left-radius: var(--border-radius);
}

.s2 {
    border-top-right-radius: var(--border-radius);
}

.s6 {
    border-bottom-left-radius: var(--border-radius);
}

.s8 {
    border-bottom-right-radius: var(--border-radius);
}

/* Clear Btn */

#clear-btn {
    font-family: var(--font);
    font-weight: 500;
    background-color: var(--clear-btn-color);
    height: var(--clear-btn-height);
    width: var(--clear-btn-width);
    font-size: var(--clear-btn-font-size);
    border-radius: var(--btn-border-radius);
    border: none;
}

#clear-btn:hover {
    cursor: pointer;
    filter: var(--hover-shadow);
    scale: 1.025;
}

/* Disable Clicks */

.disable-clicks {
    pointer-events: none;
}


/* Display: None */
.yeet {
    display: none;
}

.transition {
    -webkit-filter: blur(100px);
    opacity: 0;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    visibility: hidden;
}

.main-content-container {
    height: 100%;
    width: 100%;
}

